<a href="{{ site.data.comic.url | escape }}">
  <img src="{{ site.data.comic.image.path }}.{{ site.data.comic.image.extension }}"
       alt="{{ site.data.comic.series.name }} #{{ site.data.comic.issue }}"
       class="comic" />
</a>
<div class="comic-title">
  <a href="{{ site.data.comic.url | escape }}">
    {% assign name = site.data.comic.series.name %}
    {% unless name %}
      {% assign name = site.data.comic.title %}
    {% endunless %}
    <h3>{{ name }} #{{ site.data.comic.issue }}</h3>
  </a>
</div>
