<div class='header'>
  <h1 class='slogan'>Marvel Explorer</h1>
  <h2 class='subhead hidden-xs hiddem-sm'>Wandering aimlessly from character to
    character through the <a href='http://developer.marvel.com/'>Marvel Comics data</a>.
    Sometimes gets stuck in an X-Men gravity well. Updated every {{ site.data.config.interval | divided_by: 60}} minutes</h2>
  <h2 class='subhead hidden-md hidden-lg'>Wandering aimlessly through the <a href='http://developer.marvel.com/'>Marvel Comics data</a></h2>
</div>
